---
http_interactions:
- request:
    method: get
    uri: https://api.trumail.io/v2/lookups/json?email=test@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Thu, 30 Aug 2018 01:36:49 GMT
    body:
      encoding: UTF-8
      string: '{"address":"test@gmail.com","username":"test","domain":"gmail.com","md5Hash":"xaedb8d9dc4751e229a335e371db8058","suggestion":"","validFormat":true,"deliverable":false,"fullInbox":false,"hostExists":true,"catchAll":false,"gravatar":false,"role":false,"disposable":false,"free":false}'
  recorded_at: Thu, 30 Aug 2018 01:36:51 GMT
recorded_with: VCR 4.0.0
