---
http_interactions:
- request:
    method: get
    uri: https://api.trumail.io/v2/lookups/json?email=test@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Sat, 07 Nov 2020 05:14:58 GMT
    body:
      encoding: UTF-8
      string: '{"address":"test@gmail.com","username":"test","domain":"gmail.com","md5Hash":"1aedb8d9dc4751e229a335e371db8058","suggestion":"","validFormat":true,"deliverable":false,"fullInbox":false,"hostExists":true,"catchAll":false,"gravatar":false,"role":false,"disposable":false,"free":true}'
  recorded_at: Sat, 07 Nov 2020 05:14:59 GMT
recorded_with: VCR 6.0.0
