---
http_interactions:
- request:
    method: get
    uri: https://api.trumail.io/v2/lookups/json?email=test@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Sun, 17 Nov 2019 23:12:02 GMT
    body:
      encoding: UTF-8
      string: '{"address":"test@gmail.com","username":"test","domain":"gmail.com","md5Hash":"1aedb8d9dc4751e229a335e371db8058","suggestion":"","validFormat":true,"deliverable":false,"fullInbox":false,"hostExists":true,"catchAll":false,"gravatar":false,"role":false,"disposable":false,"free":true}'
  recorded_at: Sun, 17 Nov 2019 23:12:04 GMT
recorded_with: VCR 5.0.0
