---
http_interactions:
- request:
    method: get
    uri: https://api.trumail.io/v2/lookups/xml?email=test@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      Last-Modified:
      - Sun, 17 Nov 2019 23:12:04 GMT
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <lookup><address>test@gmail.com</address><username>test</username><domain>gmail.com</domain><md5Hash>1aedb8d9dc4751e229a335e371db8058</md5Hash><suggestion/><validFormat>true</validFormat><deliverable>false</deliverable><fullInbox>false</fullInbox><hostExists>true</hostExists><catchAll>false</catchAll><gravatar>false</gravatar><role>false</role><disposable>false</disposable><free>true</free></lookup>
  recorded_at: Sun, 17 Nov 2019 23:12:05 GMT
recorded_with: VCR 5.0.0
